*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
html{
    font-size: 10px;
}
body{
height: 100vh;
background-color: rgb(167, 255, 255);


}
#display{
    color: #fff;
    font-size: 4rem;
}
.increase,.decrease ,.reset{
    width: 15rem;
    height: 10rem;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;

}
.increase:hover,.decrease:hover{
    box-shadow: 0 2px 20px #918f8f;

    transform: translateY(-1px);
}
.increase:active,.decrease:active{
    transform: translateY(0.25rem);
}
.btn-reset:active{
    transform: translateY(0.5rem);

}
.btn-reset{
    width: 30rem;
}
.container{
    min-width: 60rem;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 5px 20px #252525;
    left: 50%;
    top: 50%;
    padding: 3rem;
    transform: translate(-50%,-50%);
    background-color: #0c3030;

}
.select-color{
    position: fixed;
    bottom:70px;
    right: 50px;
    font-size: 2rem;
}